*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

:root {

  /* Transition */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  background-color: var(--body-color);
  transition: var(--tran-05);
}
